In [1]:
import script as s

## Test Case 1 :
- Add 5 items
- Update item name
- Update item quantity
- Update item price
- Delete an item
- Check the order
- Check the total price of transaction

In [2]:
trnsct_123 = s.Transaction()
trnsct_123.add_item("Nasi goreng", 1, 10000)
trnsct_123.add_item("Sate Kelinci", 3, 15000)
trnsct_123.add_item("Sendok", 7, 3000)
trnsct_123.add_item("Permen Miksu", 1, 500)
trnsct_123.add_item("Miksu", 1, 8000)

print('\n')
trnsct_123.update_item_name('Nasi goreng', 'Mie Goyeng')
trnsct_123.update_item_price('Sate Kelinci', 17000)
trnsct_123.update_item_qty('Sendok', 2)
trnsct_123.delete_item('Permen Miksu')

print('\n')
trnsct_123.check_order()
trnsct_123.total_price()

Item purchased : {'Nasi goreng': [1, 10000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000], 'Sendok': [7, 3000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000], 'Sendok': [7, 3000], 'Permen Miksu': [1, 500]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000], 'Sendok': [7, 3000], 'Permen Miksu': [1, 500], 'Miksu': [1, 8000]}


Updated transaction list, Item purchased is {'Sate Kelinci': [3, 15000], 'Sendok': [7, 3000], 'Permen Miksu': [1, 500], 'Miksu': [1, 8000], 'Mie Goyeng': [1, 10000]}
Updated transaction list, Item purchased is {'Sate Kelinci': [3, 17000], 'Sendok': [7, 3000], 'Permen Miksu': [1, 500], 'Miksu': [1, 8000], 'Mie Goyeng': [1, 10000]}
Updated transaction list, Item purchased is {'Sate Kelinci': [3, 17000], 'Sendok': [2, 3000], 'Permen Miksu': [1, 500], 'Miksu': [1, 8000], 'Mie Goyeng': [1, 10000]}
Item deleted, Item purchased is {'Sate Kelinci': [3, 17000], 'Sendok': [2, 3000], 'Miksu': [1, 8000], 'Mie Goyeng': [1, 10000]}


| Item         |   Quantity |   Price |   Total Price |
|--------------|------------|---------|---------------|
| Sate Kelinci |          3 |   17000 |         51000 |
| Sendok       |          2 |    3000 |          6000 |
| Miksu        |          1 |    8000 |          8000 |
| Mie Goyeng   |          1 |   10000 |         10000 |
Order is correct
Total price : 75000

## Test case 2 :
- Add 3 items
- Reset transaction
- Check order
- Check the total price of transaction

In [3]:
trnsct_333 = s.Transaction()
trnsct_333.add_item("Nasi goreng", 1, 10000)
trnsct_333.add_item("Sate Kelinci", 3, 15000)
trnsct_333.add_item("Sendok", 7, 3000)

trnsct_333.reset_transaction()
trnsct_333.check_order()
trnsct_333.total_price()

Item purchased : {'Nasi goreng': [1, 10000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000], 'Sendok': [7, 3000]}
All items have been removed
| Item   | Quantity   | Price   | Total Price   |
|--------|------------|---------|---------------|
Order is correct
Total price : 0.0

## Test case 3 :
- Add 3 items with 0 value
- Check order
- Check the total Price of transaction

In [4]:
trnsct_124 = s.Transaction()
trnsct_124.add_item("Nasi goreng", 1, 10000)
trnsct_124.add_item("Sate Kelinci", 3, 15000)
trnsct_124.add_item("Sendok", 7, 0000)

print('\n')
trnsct_124.check_order()
trnsct_124.total_price()

Item purchased : {'Nasi goreng': [1, 10000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000]}
Item purchased : {'Nasi goreng': [1, 10000], 'Sate Kelinci': [3, 15000], 'Sendok': [7, 0]}


| Item         |   Quantity |   Price |   Total Price |
|--------------|------------|---------|---------------|
| Nasi goreng  |          1 |   10000 |         10000 |
| Sate Kelinci |          3 |   15000 |         45000 |
| Sendok       |          7 |       0 |             0 |
There is a data input error
Total price : 55000